@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-light dark:bg-bg-dark;
  @apply text-bg-dark dark:text-bg-light;
}

.root {
  @apply max-w-lg;
}

.main {
  @apply px-8 md:px-16;
}

.s-middle {
  height: calc(100vh - 100px);
}

@media (min-width: 768px) {
  .main {
    min-height: calc(100vh - 200px);
  }
}

@media (max-width: 768px) {
  .main {
    padding-top: 80px;
  }
}

.surface {
  @apply bg-surface-light dark:bg-surface-dark;
}

.surface-border {
  @apply border-surface-light dark:border-surface-dark;
}

.primary-btn {
  @apply inline-block bg-primary hover:scale-105 text-bg-light dark:text-bg-dark focus-visible:ring text-sm md:text-base font-semibold text-center rounded-lg outline-none border-transparent transition duration-100 px-8 py-3;
  @apply min-w-28;
}
